<div>
    <h1>Productos</h1>
    {{#each products}}
    <div>
        <h3>{{this.title}}</h3>
        <p>{{this.description}}</p>
        <label>{{this.price}}</label>
    </div>
    {{/each}}
</div>
